    <!-- jQuery -->
    <script src="/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    
    <script>
        $('#signupModal').on('shown.bs.modal', function () {
          $('#name').focus()
        })
        
        $('#myModal').on('shown.bs.modal', function () {
          $('#email').focus()
        })
    </script>
    
  </body>
</html>
