	<div class="intro-block">
		<div class="container">
			<div class="row">
				<div class="modal-content" style="margin-top:50px;">
				  <div class="modal-header">
					<h3 class="modal-title" style="display:inline-block;">Resend Password</h3>					
				  </div>
				  <div class="modal-body">
						<form class="form-signin">       
						  <input type="text" id="email" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />						  
						  <button class="btn btn-lg btn-primary btn-block" type="submit">Resend</button>   
						</form>			
				  </div>				  
				</div>
			</div>
		</div>
	</div>

	
	
	